<!-- 
File: mini_insta/templates/mini_insta/update_post_form.html
Author: Nguyen Le
-->
{% extends 'mini_insta/base.html' %}

{% block content %}
<div class="grid-container">
    <header class="header">
        <h2>
            @{{post.profile.username}}: Update Post
        </h2>
    </header>

    <!-- form for updating -->
    <form method="POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>

        <input type="submit" name="submit" value="Update">
    </form>

    <!-- form for cancelling -->
    <form action="{% url 'show_profile' post.profile.pk %}" method="GET">
        <input type="submit" value="Cancel">
    </form>

    <p>
        <br><br>
    </p>
</div>
{% endblock %}