<!-- 
File: mini_insta/templates/mini_insta/show_post.html 
Author: Nguyen Le
-->

{% extends 'mini_insta/base.html' %}

{% block content %}
<div class="grid-container">
    
    <header class="header">
        <h2>
            Posts @{{post.profile.username}}
        </h2>
    </header>

    <!-- show main profile information -->
    <div class="grid profile-header">
        <div class="profile-image">
            <a href="{% url 'show_profile' post.profile.pk %}">
                <img src="{{post.profile.profile_image_url}}" alt="{{post.profile.profile_image_url}}">
            </a>
        </div>
        <div>
            <strong>@{{post.profile.username}}</strong><br>
            {{post.timestamp}}
        </div>
        
        <!-- link back to profile -->
        <div>
            <a href="{% url 'show_profile' post.profile.pk %}">
                <button>Back</button>
            </a>
        </div>
    </div>

    <!-- update/delete buttons -->
    {% if request.user == post.profile.user and request.user.is_authenticated %}
    <div class="button-row">
        <a class="button-like" href="{% url 'update_post' post.pk %}">Update Post</a>
        <a class="button-like" href="{% url 'delete_post' post.pk %}">Delete Post</a>
    </div>
    {% endif %}
    
    <!-- show post with all photos -->
    <div class="post-grid">
        <!-- loop through all the photos -->
        {% for photo in post.get_all_photos %}
            <div class="post-item">
                {% if photo.get_image_url%}
                    <img src="{{photo.get_image_url}}">
                {% else %}
                    <img src="https://i.postimg.cc/vmYMQw6k/temp-Image10-Mm-FH.avif" alt="stock image">
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div>
        <!-- likes -->
        <!-- if there are Likes on the Post -->
        {% if post.get_num_likes > 0 %}
            <div>
                <!-- There is only 1 like -->
                {% if post.get_num_likes == 1 %}
                    Liked by <strong>@{{ post.get_most_recent_like.profile.username }}</strong>
                {% else %}
                    <!-- user: most recent Like -->
                    Liked by <strong>@{{ post.get_most_recent_like.profile.username }}</strong>
                    <!-- count: other X-1 Likes -->
                    and <strong>{{ post.get_num_likes|add:"-1" }} others</strong>
                {% endif %}
            </div>

        <!-- if there are no likes yet -->
        {% else %}
            <div>
                No likes yet
            </div>
        {% endif %}

        <!-- caption -->
        <strong>@{{post.profile.username}}</strong> 
        {{post.caption}}

        <br>

        <!-- like/unlike -->
        <!-- check that user is not liking own post -->
        {% if request.user.is_authenticated and request.user != post.profile.user %}
            <!-- if user already liked, they can unlike the post -->
            {% if request.user.profile in post.get_likes %}
                <form action="{% url 'unlike' post.pk %}" method="POST" style="display:inline; margin-left:10px;">
                    {% csrf_token %}
                    <button type="submit" class="like-follow">Unlike</button>
                </form>
            <!-- otherwise allow them to like the post -->
            {% else %}
                <form action="{% url 'like' post.pk %}" method="POST" style="display:inline; margin-left:10px;">
                    {% csrf_token %}
                    <button type="submit" class="like-follow">Like</button>
                </form>
            {% endif %}
        {% endif %}

    </div>

    <br>

    <div class="comments-section">
        <h3>Comments</h3>
    
        <!-- if there are comments -->
        {% if post.get_all_comments %}
            <div class="comment-list">
                <!-- iterate through all of the comments -->
                {% for comment in post.get_all_comments %}
                    <div class="comment-item">
                        <!-- display username, comment, and time of comment -->
                        <strong>@{{ comment.profile.username }}</strong>
                        <span>— {{ comment.text }}</span><br>
                        <small>{{ comment.timestamp }}</small>
                    </div>
                {% endfor %}
            </div>
        <!-- there are no comments yet -->
        {% else %}
            <p>No comments yet. Be the first to comment!</p>
        {% endif %}
    </div>

    <!-- add commments -->
    {% if request.user.is_authenticated %}
        <a href="{% url 'add_comment' post.pk %}" class="like-follow">
            Comment
        </a>
    {% endif %}

</div>
{% endblock %}